.label{
font-size: 20px;
margin:8px;
width:100%;
display:block;
}
.inputfield{
  width:100%;
  display:block;
  height:32px;
  margin:8px;
}
.text{
  font-size:20px;
}
.select{
font-size:20px;
}
.error{
  color:red;
  margin:8px;
}